{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
<div class="section">
  <div class="row">
    <div class="col">
      <h1>Headline</h1>
        <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </p>
    </div>
    <div class="col">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe
          class="embed-responsive-item"
          src="https://www.youtube.com/embed/hbalAc7I9SA"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>






<div class="section">
    <h1>Headline</h1>
    <div class="row">
        <div class="col">
            <div class="card border-light mb-3 equal-height-card" style="min-height: 600px;">
                <div class="card-header">✅</div>
                <div class="card-body">
                    <h4 class="card-title">Dia 1</h4>
	                <ul>
		                <li>08:30 - 09:30:
							REGISTRATION E ENTREGA DE MATERIAL DE APOIO PERSONALIZADO.
						</li>
		                <li>
			                09:30 - 10:00:
							COFFEE BREAK
		                </li>
		                <li>
			                10:00 - 13:00
							WELCOME (TED TALK)
							TOXINA BOTULÍNICA
							MARCAS DE TOXINA BOTULÍNICA DISPONÍVEIS NO MERCADO PORTUGUÊS
							ANATOMIA DA FACE E PESCOÇO
							PONTOS PERIGOSOS
							COMPLICAÇÕES
							FACE MAPPING
							PINTURA DA FACE 2 A 2 MÚSCULOS
		                </li>
		                <li>
			                13:00 - 14:30:
							ALMOÇO - HOTEL EVA
		                </li>
		                <li>
			                14:30 - 19:30:
							CONSULTA
							MARCAÇÃO DE PONTOS
							MATERIAL CONSUMÍVEIS
							CÁLCULO DA DILUIÇÃO SEM DESPERDÍCIO
							DEMONSTRAÇÃO PACIENTE REAL (1 HOMEM + 1 MULHER)
							TREINO EM BONECOS VS CARNE DE PORCO
							DESCOMPLICANDO COMPLICAÇÕES & SEGREDOS
		                </li>
	                </ul>
                </div>
	            <a href="#" type="button" class="btn btn-light">Mais informação</a>
            </div>
        </div>
        <div class="col">
	        <div class="card border-primary mb-3 equal-height-card" style="min-height: 600px;">
		        <div class="card-header">✅</div>
		        <div class="card-body">
	                <h4 class="card-title">Dia 2</h4>
	                <ul>
		                <li>
							09:00 - 11:00:
							CONSULTA DE MEDICINA ESTÉTICA
						</li>
		                <li>
			                11:00 - 11:30
			                COFFEE BREAK
		                </li>
		                <li>
			                11:00 - 13:00
							ATENDIMENTOS
		                </li>
		                <li>
			                13:00 - 14:30:
							ALMOÇO - HOTEL EVA
		                </li>
		                <li>
			                14:30 - 19:30
							ATENDIMENTOS COM PACIENTES MODELOS.
		                </li>
	                </ul>
		        </div>
		        <a href="#" type="button" class="btn btn-light">Mais informação</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}